<h2> Division 1 schools </h2>

<% @colleges.each do |u| %>  
  
<p>  
  <strong> Institution: </strong>  
  <%= u.school %>  
</p>

<p>
<img src="<%= u.logo %>" />
</p>

<p>  
  <strong>Nickname:</strong>  
  <%= u.nickname %>  
</p>  

<p>  
  <strong>Home Page:</strong>  
  <a href="<%= u.webpage %>"> wwww.ua.edu/</a>  
</p> 

<p>  
  <strong>Summary:</strong>  
  <%= u.bio %>  
</p>  

<p>  
  <strong>Estimated Tuition (2 semesters):</strong>  
  <%= u.tuition %>  
</p>  

<p>  
  <strong>Address:</strong>  
  <%= u.address %>  
</p> 

<p>  
  <strong>Latitude and Longitude:</strong>  
  <%= u.latitude %> - <%= u.longitude %>  
</p>

<p>  
  <strong>Region:</strong>  
  <%= u.region %>  
</p>  


<% end %>


